<?xml version="1.0"?>
<robot name="camion_minero">

  <link name="base_link">
    <visual>
      <origin xyz="2.5 0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 2.5 3.0"/>
      </geometry>
      <material name="yellow_transparent">
        <color rgba="1 0.8 0 0.4"/> </material>
    </visual>
  </link>

  <link name="sensor_antiguo_link">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.05"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="joint_sensor_antiguo" type="fixed">
    <parent link="base_link"/>
    <child link="sensor_antiguo_link"/>
    <origin xyz="0 0 3.0" rpy="0 0 0.785"/>
  </joint>

  <link name="cloud_longitudinal">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="joint_sensor_longitudinal" type="fixed">
    <parent link="base_link"/>
    <child link="cloud_longitudinal"/>
    <origin xyz="5.0 0 3.0" rpy="1.57 0 0"/>
  </joint>

</robot>
